.side-bar {
    position: fixed;
    height: 100%;
    width: 20%;
    background-color: white;
    z-index: 3;
    top: 0;
}

.side-bar-section {
    text-decoration: none;
    display: block;
    margin: 2rem;    
}
.side-bar-section-main{
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 1rem;
    color: black;
}

.side-bar-section-sub{
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
}