.nav-bar {
    background: #673ab7;
    height: 4rem;
    width: 100%;
    position: relative;
}

.nav-bar div {
    display: inline-block;
    top: 1em;
    position: absolute;
}

.nav-bar__section {
    display: inline-block;
    color: rgb(255, 255, 255,0.87);
    font-size: 1.4rem;
    position: absolute;
    left : 2.5rem;
}

.toggle-button {
    width: 2rem;
    background: transparent;
    border: none;
}

.toggle-button:focus {
    outline:none;
}

.toggle-button__bar {
    background: rgb(255, 255, 255,0.87);
    display: block;
    height: 0.2rem;
    margin: 0.3rem 0;
}