<div id="book-info">
  <div class="book_detail">
      <div class="book_detail_section">
          <div class="book_detail_title">{{selectedBook.title}}</div>
          <div class="book_detail_image_container">
              <img src={{selectedBook.url}}>
          </div>
      </div>    
      <div class="book_detail_desc">
            {{selectedBook.description}}
      </div>
      <div class="author_wrapper">
          <div class="book_detail_author">
              <span id="written">Written by:</span><br>
              <span id="author_name"> {{selectedBook.author}}</span>
          </div>
      </div>
      <button class="removebook" (click)="addOrRemoveBook()">
        {{isAddBooks == true ? 'Add Books to My Collection': 
            'Remove Books from My Collection'}}
    </button>
  </div>
</div>